params {
    input_pattern            = ''
    input_subpath            = '1'
    labels_container_suffix  = 'labels'
    labels_container_ext     = ''
    labels_dataset           = 'labels'
    cellpose_model           = 'cpsam'
    cellpose_models_dir      = ''
    cellpose_log_config      = ''
    cellpose_cpus            = 1
    cellpose_mem_gb          = 0

    skip_multiscale          = false
    multiscale_cpus          = 1
    multiscale_mem_gb        = 0

    // cluster params
    with_dask                = true
    dask_config              = ''
    dask_workers             = 1
    dask_min_workers         = 1
    dask_worker_cpus         = 1
    dask_worker_mem_gb       = 1
    dask_scheduler_port      = 0
    dask_dashboard_port      = 0
    dask_worker_runtime_opts = ''
    dask_worker_cluster_opts = ''

    default_mem_gb_per_cpu   = 4
}

process {

    withName: "(.*):SEGMENTATION:(.*)" {
        containerOptions = params.runtime_opts
        errorStrategy = 'terminate'
    }

    withName: "(.*):DASK_(.*)" {
        container = 'ghcr.io/janeliascicomp/cellpose:4.0.6-dask2025.5.1-py12'
        containerOptions = params.runtime_opts
    }

    withName: "(.*):DASK_STARTMANAGER" {
        ext.args = [
            "--port ${params.dask_scheduler_port}",
            "--dashboard-address ${params.dask_dashboard_port}",
        ].join(' ')
    }

    withName: "(.*):DASK_STARTWORKER" {
        containerOptions = "${params.runtime_opts} ${params.dask_worker_runtime_opts}"
        clusterOptions = "${params.dask_worker_cluster_opts}"
        ext.args = [
            "--nthreads ${params.dask_worker_cpus}",
        ].join(' ')
    }

}