params {
    zarr_format              = 3
    zarr_chunksize           = '64,64,64'
    zarr_sharding_factor     = '4,4,4'
    zarr_compression         = 'zstd'
    zarr_compression_opts    = '\'{"level": 5}\''

    cellpose_model           = 'cpsam'
    cellpose_models_dir      = "${System.getProperty('user.home')}/.cellpose/models"
    cellpose_log_config      = "${projectDir}/conf/log_config.ini"
    cellpose_cpus            = 1
    cellpose_mem_gb          = 0
    headjob_runtime_opts    = ''
    headjob_cluster_opts    = ''

    // data attributes important for segmentation
    timeindex                = 0
    input_channels           = ''
    z_axis                   = '' // for OME-ZARR it's not required since it can be read from the OME metdata, for TIFF 0 (first axis)
    channel_axis             = '' // for OME-ZARR it's not required since it can be read from the OME metdata, for TIFF -1 (last axis)

    anisotropy               = 0.0
    expansion_factor         = 1.0
    voxel_spacing            = ''

    local_workers            = 1  // number of workers in a local cluster when with_dask is false
    roi                      = ''
    process_blocksize        = '256,256,256' // process block partition size
    blocks_overlap           = '' // blocks overlap - default to 10%
    gpu_device               = '0' // which gpu device to use
    do_3D                    = true
    use_gpu                  = true
    skip_normalize           = false
    norm_percentile          = '1 99'
    niter                    = 0
    stitch_threshold         = 0.0
    cellprob_threshold       = 1.0
    flow3D_smooth            = 1
    cell_diameter            = ''
    min_size                 = 15
    merge_labels_distance_th = 1
    preprocessing_steps      = ''
    preprocessing_config     = ''
    verbose                   = false

    // run control
    run_cellposemasks         = false // skip cellpose model eval; reuse a prior run's labels output
    run_mergelabels           = false // skip the distributed merge-labels step (runs by default)
    no_cellposemaskmerge      = false // if true skip the mask merge step in cellpose

    // merge-labels (distributed step)
    mergelabels_cpus          = 1
    mergelabels_mem_gb        = 0
    mergelabels_distance_th   = 1     // --label-distance-threshold for the MERGELABELS step

    run_multiscale            = false
    multiscale_cpus           = 1
    multiscale_mem_gb         = 0

    // cluster params
    with_dask                = true
    dask_config              = "${projectDir}/conf/dask_config.yml"
    dask_workers             = 1
    dask_min_workers         = 1
    dask_worker_cpus         = 1
    dask_worker_mem_gb       = 0
    dask_scheduler_port      = 0
    dask_dashboard_port      = 0
    dask_start_timeout_secs  = 300
    dask_worker_runtime_opts = ''
    dask_worker_cluster_opts = ''
}

process {

    withName: "(.*):SEGMENTATION:(.*)" {
        container = 'ghcr.io/janeliascicomp/cellpose:4.2.1-dask2026.6.0-py12'
        containerOptions = params.container_runtime_opts
        errorStrategy = 'terminate'
    }

    withName: "(.*):DASK_STARTMANAGER" {
        container = 'ghcr.io/janeliascicomp/cellpose:4.2.1-dask2026.6.0-py12'
        ext.args = [
            "--port ${params.dask_scheduler_port}",
            "--dashboard-address ${params.dask_dashboard_port}",
        ].join(' ')
    }

    withName: "(.*):DASK_WAITFORMANAGER" {
        container = 'ghcr.io/janeliascicomp/cellpose:4.2.1-dask2026.6.0-py12'
        ext.args = [
            params.dask_start_timeout_secs ? "--scheduler-start-timeout ${params.dask_start_timeout_secs}" : '',
        ].join(' ')
    }

    withName: "(.*):DASK_STARTWORKER" {
        container = 'ghcr.io/janeliascicomp/cellpose:4.2.1-dask2026.6.0-py12'
        containerOptions = "${params.container_runtime_opts} ${params.dask_worker_runtime_opts}"
        clusterOptions = "${params.lsf_opts} ${params.dask_worker_cluster_opts}"
        ext.args = [
            "--nthreads ${params.dask_worker_cpus}",
        ].join(' ')
    }

    withName: "(.*):DASK_WAITFORWORKER" {
        container = 'ghcr.io/janeliascicomp/cellpose:4.2.1-dask2026.6.0-py12'
        ext.args = [
            params.dask_start_timeout_secs ? "--worker-start-timeout ${params.dask_start_timeout_secs}" : '',
        ].join(' ')
    }

    withName: "(.*):SEGTOOLS_DISTRIBUTED_CELLPOSE" {
        cpus = { (params.cellpose_cpus as int) ?: 1 }
        memory = { ((params.cellpose_mem_gb as int) ?: (params.default_mem_gb_per_cpu as int)*((params.cellpose_cpus as int) ?: 1) ).GB }
        time = 24.h
        containerOptions = "${params.container_runtime_opts} ${params.headjob_runtime_opts}"
        clusterOptions = "${params.lsf_opts} ${params.headjob_cluster_opts}"
        ext.args = [
            params.preprocessing_steps ? "--preprocessing-steps ${params.preprocessing_steps}" : '',

           (params.run_mergelabels ||
            params.no_cellposemaskmerge) ? '--skip-merge-labels' : '',

            params.zarr_format ? "--zarr-format ${params.zarr_format}" : '',
            params.zarr_chunksize ? "--output-blocksize ${params.zarr_chunksize}" : '',
            params.zarr_sharding_factor ? "--sharding-factor ${params.zarr_sharding_factor}" : '',
            params.zarr_compression ? "--compressor ${params.zarr_compression}" : '',
            params.zarr_compression_opts ? "--compressor-opts ${params.zarr_compression_opts}"        : '',

            params.process_blocksize ? "--process-blocksize ${params.process_blocksize}" : '',
            params.blocks_overlap ? "--blocks-overlaps ${params.blocks_overlap}" : '',

            params.roi ? "--roi ${params.roi}" : '',
            params.do_3D ? '--do_3D' : '',
            params.skip_normalize ? '--no_norm' : '',

            params.timeindex ? "--timeindex ${params.timeindex}" : '',
            params.input_channels ? "--input-channels ${params.input_channels}" : '',
            params.z_axis ? "--z_axis ${params.z_axis}" : '',
            params.channel_axis ? "--channel_axis ${params.channel_axis}" : '',

            params.anisotropy ? "--anisotropy ${params.anisotropy}" : '',
            params.expansion_factor ? "--expansion-factor ${params.expansion_factor}" : '',
            params.voxel_spacing ? "--voxel-spacing ${params.voxel_spacing}" : '',
            params.norm_percentile ? "--norm_percentile ${params.norm_percentile}" : '',
            params.stitch_threshold ? "--stitch_threshold ${params.stitch_threshold}" : '',
            params.cellprob_threshold ? "--cellprob_threshold ${params.cellprob_threshold}" : '',
            params.niter ? "--niter ${params.niter}" : '',
            params.flow3D_smooth ? "--flow3D_smooth ${params.flow3D_smooth}" : '',
            params.cell_diameter ? "--diameter ${params.cell_diameter}" : '',
            params.min_size ? "--min_size ${params.min_size}" : '',
            params.merge_labels_distance_th ? "--label-distance-threshold ${params.merge_labels_distance_th}" : '',


            params.use_gpu ? '--use_gpu' : '',
            params.gpu_device ? "--device ${params.gpu_device}" : '',

            params.local_workers ? "--local-dask-workers ${params.local_workers}" : '',
            params.dask_worker_cpus ? "--worker-cpus ${params.dask_worker_cpus}" : '',

            params.verbose ? '--verbose' : '',
        ].join(' ')
    }

    withName: "(.*):SEGTOOLS_DISTRIBUTED_MERGELABELS" {
        cpus = { (params.mergelabels_cpus as int) ?: 1 }
        memory = { ((params.mergelabels_mem_gb as int) ?: (params.default_mem_gb_per_cpu as int)*((params.mergelabels_cpus as int) ?: 1) ).GB }
        time = 24.h
        containerOptions = "${params.container_runtime_opts} ${params.headjob_runtime_opts}"
        clusterOptions = "${params.lsf_opts} ${params.headjob_cluster_opts}"
        ext.args = [
            params.roi ? "--roi ${params.roi}" : '',
            params.zarr_format ? "--zarr-format ${params.zarr_format}" : '',
            params.zarr_sharding_factor ? "--sharding-factor ${params.zarr_sharding_factor}" : '',
            params.zarr_compression ? "--compressor ${params.zarr_compression}" : '',
            params.zarr_compression_opts ? "--compressor-opts ${params.zarr_compression_opts}"        : '',

            params.process_blocksize ? "--process-blocksize ${params.process_blocksize}" : '',
            params.mergelabels_distance_th ? "--label-distance-threshold ${params.mergelabels_distance_th}" : '',

            params.local_workers ? "--local-dask-workers ${params.local_workers}" : '',
            params.dask_worker_cpus ? "--worker-cpus ${params.dask_worker_cpus}" : '',

            params.verbose ? '--verbose' : '',
        ].join(' ')
    }

    withName:"(.*)OMEZARRTOOLS_MULTISCALE" {
        cpus = { (params.multiscale_cpus as int) ?: 1 }
        memory = { (params.multiscale_mem_gb as int).GB }
        time = 8.h
        container = 'ghcr.io/janeliascicomp/zarr-tools:0.3.1-dask2025.11.0-py12-ol9'

        ext.args = [
            '--data-type segmentation',
        ].join(' ')
    }

}
