params {
    input_image_subpath = 'c1/s5'
    outdir = './output'
    cellpose_models_dir = './output/cellpose-models'
    output_image_dir = './output/cellpose'
    cellpose_work_dir = ''
    output_image_name = 'seg.n5'
    dask_work_dir = './output/dask'
    process_blocksize = '32,32,16'
    output_blocksize = '8,8,8'
    local_dask_workers = 1
    model = 'cpsam'
    diameter = 30
    blocks_overlap = '4,4,4'
    input_channels = '0'
    z_axis = '1'
    channel_axis = '0'
    cellprob_threshold = 1.0
    cellpose_workers = 5
    cellpose_required_workers = 1
    cellpose_worker_cpus = 0.6
    cellpose_worker_mem_gb = 6
    cellpose_driver_cpus = 0.5
    cellpose_driver_mem_gb = 10
    min_size = 10
    device = '0'
    use_gpu = true
    runtime_opts = ''
    preprocessing_config = ''
    logging_config = 'modules/janelia/cellpose/tests/logging_config.ini'
}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    container = 'ghcr.io/janeliascicomp/cellpose:3.1.0-dask2025.1.0-py12'

    withName:CELLPOSE {
        ext {
            args = [
                "--process-blocksize ${params.process_blocksize}",
                "--worker-cpus 1",
                "--output-blocksize ${params.output_blocksize}",
                "--local_dask_workers ${params.local_dask_workers}",
                "--model ${params.model}",
                "--do_3D",
                "--input-channels ${params.input_channels}",
                "--z_axis ${params.z_axis}",
                "--channel_axis ${params.channel_axis}",
                "--cellprob_threshold ${params.cellprob_threshold}",
                "--diameter ${params.diameter}",
                "--blocks-overlaps ${params.blocks_overlap}",
                "--min_size ${params.min_size}",
                "--device ${params.device}",
                "${params.use_gpu ? '--use_gpu' : ''}",
            ].join(' ')
        }
    }
}

docker {
    temp = 'auto'
    runOptions = "${params.runtime_opts}"
}